@use "../libs/variables" as *;
.collections {
	// overflow-x: hidden;
	position: relative;
	margin-top: 210px;
	&__wrapper {
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin-top: 5px;
	}
	&__title {
		margin-left: 3px;
	}
	&__left {
		width: 784px;
	}
	&__tabs {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 45px;
	}
	&__tab {
		width: 373px;
		height: 102.5px;
		font-family: Orbitron;
		font-weight: 700;
		font-size: 26px;
		line-height: 33px;
		letter-spacing: 0%;
		color: $text-color-dark05;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		margin-top: 41.5px;

		transition: 0.3s all ease-in-out;
		&:hover {
			box-shadow: 0px 4px 57px rgba(97, 86, 255, 0.51);
			&:before {
				background: linear-gradient(
					272.52deg,
					rgba(255, 166, 250, 0.9) 47.49%,
					rgba(60, 121, 213, 0.9) 98.81%
				);
			}
		}
		&:nth-child(1),
		&:nth-child(2) {
			margin-top: 0;
			margin-bottom: -1px;
		}

		&:before {
			content: "";
			position: absolute;
			top: 0px;
			left: 0px;
			right: 0px;
			bottom: 0px;
			z-index: 1;
			padding: 3px;
			background: linear-gradient(
				272.52deg,
				rgba(255, 166, 250, 0.3) 47.49%,
				rgba(60, 121, 213, 0.3) 98.81%
			);
			mask: linear-gradient(rgb(255, 255, 255) 0px, rgb(255, 255, 255) 0px)
					content-box exclude,
				linear-gradient(rgb(255, 255, 255) 0px, rgb(255, 255, 255) 0px);
		}
		&_active {
			color: $text-color;
			background: linear-gradient(
				92.23deg,
				#ff56f6 21.43%,
				#b936ee 50.63%,
				#3bace2 100%,
				#406aff 117.04%
			);
		}
	}
	&__right {
		width: 436px;
		height: auto;
		display: flex;
		justify-content: center;
		align-items: center;

		&-img {
			margin-left: -73px;
			margin-top: -49px;
			width: auto;
			max-height: 815px;
		}
	}
	&__view {
		margin-top: 37px;
		margin-right: -10px;
		.nft {
			&__view {
				&-text {
					font-size: 20px;
				}
				&-arrow {
					width: 51px;
					margin-top: 6px;
					margin-left: 16px;
				}
			}
		}
	}
	.circle1,
	.circle2,
	.circle3 {
		position: absolute;
		width: 246px;
		height: 246px;
		z-index: -1;
		border-radius: 50%;
		background: #a06693;
		filter: blur(180px);
	}
	.circle1 {
		top: 30px;
		left: 600px;
		opacity: 0.4;
	}
	.circle2 {
		width: 1400px;
		height: 1400px;
		top: 220px;
		left: -800px;
		opacity: 0.1;
	}
	.circle3 {
		width: 1400px;
		height: 1400px;
		top: 100px;
		left: 70%;
		opacity: 0.2;
	}
}
