@use "../libs/variables" as *;

.menu {
	width: 100%;
	&__bigMenu {
		display: none;
	}
	&__wrapper {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 53px;
		height: 48px;
	}
	&__leftSide {
		display: flex;
		align-items: center;
		&_logo {
			width: 17px;
			height: 27px;
		}
		&_text {
			font-family: Orbitron;
			font-weight: 700;
			font-size: 20px;
			line-height: 25px;
			letter-spacing: 0%;
			color: $text-color-dark;
			span {
				font-family: Orbitron;
				font-weight: 700;
				color: $text-color;
			}
		}
	}
	&__center {
		height: 100%;
	}
	&__list {
		height: 100%;
		display: flex;
		justify-content: space-between;
		width: 460px;
		align-items: center;
		padding: 0 11px;
	}
	&__items {
		&_link {
			text-decoration: none;
			color: $text-color-dark;
			&:hover {
				color: $text-color-dark;
			}
		}
	}
	&__buttons {
		height: 100%;
		display: flex;
		align-items: center;
	}
	&__basket,
	&__profile {
		&_img {
			width: 22px;
			height: 22px;
		}
	}
	&__basket {
		margin-right: 41px;
	}
}
.hamburger {
	display: none;
}
