@use "../libs/variables" as *;
.sellers {
	margin-top: 160px;

	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__header {
		font-family: Orbitron;
		font-weight: 700;
		font-size: 27px;
		line-height: 33px;
		letter-spacing: 0%;
		color: $text-color;
	}
}
